/nginx/
/php/

/src/public/wp-admin/

/src/public/wp-content/languages
/src/public/wp-content/upgrade
/src/public/wp-content/uploads
/src/public/wp-content/index.php
/wp-content/index.php

/src/public/wp-includes/

/index.php
/license.txt
/readme.html
/xmlrpc.php

*.log
